/* CSS files add styling rules to your content */
ul.no-bullets {
  list-style-type: none;
}
body {
  font-family: helvetica, arial, sans-serif;
  padding: 20px;
  margin: 0 auto;
  max-width: 800px; 
  box-sizing: border-box;
  font-size: 1rem;
}

img {
  float: right;
  width: 50%;
  padding: 20px;
}
@media (max-width: 600px) {
  img {
    width: 35%;
    float: right;
    padding: 10px;
  }
}


h1 {
  font-style: bold;
  color: ;
}
h2 {
  font-style: italic;
  color: ;
}

