/* CSS files add styling rules to your content */
ul.no-bullets {
  list-style-type: none;
}
body {
  font-family: helvetica, arial, sans-serif;
  padding: 20px;
  margin: 0;
  max-width: 800px; 
  box-sizing: border-box;
  font-size: 1rem;
}

/* Image floats right on desktop */
img {
  float: right;
  width: 50%;       
  padding: 20px;
  max-width: 50%;   
  height: auto;
}

h1 {
  font-style: bold;
  color: ;
}
h2 {
  font-style: italic;
  color: ;
}


/* Mobile styles */
@media (max-width: 600px) {
  img {
    float: right;      
    width: 40%;      
    max-width: 40%;
    display: block;   
    padding: 10px 0;
  }

  body {
    padding: 15px;
  }
}

